@import './_variables.css';
@import './_reset.css';
@import './_base.css';
@import './_layout.css';
@import './_print.css';
@import './components/_code.css';
@import './components/_button.css';
@import './components/_table.css';
@import './components/_tag.css';

.demo-wide,
.demo-full-width {
  display: grid;
  place-items: center;
  min-height: 150px;
  color: var(--muted-color);
  font-size: 12px;
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  background: var(--surface-bg);
  margin-bottom: var(--block-spacing-y);
}

.mermaid {
    background: none!important;
    margin-bottom: var(--block-spacing-y) !important;
}